.homePage {
    margin: 4rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.sectionBestPosts {
    display: flex;
    justify-content: center;
}

.postContainer {
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
}

.postItem {
    margin: 0.5rem;
    height: 280px;
    border-radius: 9px;
    background-size: cover !important;
    background-position: center !important;
    color: white;
}


.postItem:nth-child(1) {
    width: 60%;
    background-image: linear-gradient(180deg, rgb(0 0 0 / 20%), rgba(0, 0, 0, .5) 80%), url('../../assets/1.jpeg');
}

.postItem:nth-child(4) {
    width: 60%;
    background-image: linear-gradient(180deg, rgb(0 0 0 / 20%), rgba(0, 0, 0, .5) 80%), url('../../assets/postimg3.jpeg');
}

.postItem:nth-child(2),
.postItem:nth-child(3) {
    width: 35%;
    background: linear-gradient(180deg, rgb(0 0 0 / 20%), rgba(0, 0, 0, .5) 80%), url('../../assets/2.jpeg');
}

.postItem:nth-child(2) .Title,
.postItem:nth-child(3) .Title {
    font-size: .8rem;
}

.Title {
    font-size: 1.2rem;
    color: white;
    font-weight: 800;
    text-decoration: none;
}

.postCaption {
    float: right;
    margin-top: 7.5rem;
    padding: 2rem;
}

.authorInfo {
    display: flex;
    margin-top: .8rem;
    align-items: center;
}

.authorInfo img,
.postPopular img,
.BoxPostHeader img {
    width: 60px;
    border-radius: 100%;
}

.linkImg {
    width: 15%;
}

.more {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.sectionListPosts {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.ListPosts {
    width: 65%;
}

.sideBarPosts {
    width: 35%;
}

.sideBarPosts>div {
    margin: 2rem 0;
}

.intro,
.postsPopular,
.footer,
.BoxPostContent {
    text-align: right;
}

.body button {
    background-color: #107abe;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 13px;
    border: unset;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 150px;
    padding: 7px 7px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.body button svg {
    fill: white;
    margin-bottom: -5px;
    margin-right: 3px;
}

.sideBarPosts .header {
    font-size: 1.2rem;
    font-weight: 500;
}

.intro .body p {
    color: #858585;
}

.postPopular,
.BoxPostHeader {
    display: flex;
    align-items: center;
}

.postPopularInfo,
.BoxPostInfo {
    display: flex;
    flex-direction: column;
    margin: .6rem 0;
}

.BoxPostInfo {
    margin: .6rem 2rem !important;
    text-align: start;
}

.postPopularInfo a {
    margin-right: 1rem;
}

.postPopularInfo .infoTitle,
.BoxPostInfo .infoNameAuthor {
    color: black;
}

.postPopularInfo .infoName,
.BoxPostInfo .infoCreateDate,
.BoxPostContent .contentDesc {
    color: #858585;
}

.footer ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer ul li {
    margin: 0 0.3rem;
    color: #858585;
}

.footer ul li i {
    font-size: 1.5rem;
}

.BoxPostHeader {
    justify-content: space-between;
}

.infoPost {
    display: flex;
}

.BoxPost {
    margin: 0 2rem;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.categoryName {
    color: #858585;
    font-weight: 500;
}

.BoxPostContent {
    margin: 1.5rem 0;
}

.BoxPostContent img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin: 1.5rem 0;
}

.BoxPostContent .contentTitle {
    font-size: 1.4rem;
    color: black;
    font-weight: 500;
}

.BoxPostFooter {
    display: flex;
    justify-content: space-between;
}

.btnLike i,
.btnBookmark i {
    cursor: pointer;
    font-size: 1.5rem;
    color: #858585;
}

.btnLike .likeCount {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #858585;
}

.btnLike i:hover {
    color: red;
}

.ListPosts>div {
    margin-bottom: 1rem;
}
.registerBtn {
    fill: white;
    margin-bottom: -5px;
    margin-right: 3px;
}
.registerBtn:hover {
    background-color: #0c5c8f;
    padding-left: 0;
}
