.createAvatar{
    width: 100%;
    height: 100vh;
    display: flex;
}
.colorPart{
    width: 31.5%;
    height: 100vh;
    background: linear-gradient(to bottom right,#054592 0,#1897d4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerColorPart{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-bottom: 20px;
}
.headPara {
    font-size: 28px;
    color: white;
}
.secondPara {
    font-weight: bold;
    margin-top: -25px;
    font-size: 14px;
    color: black;
}
.footerColorPart{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fcpCopyRight{
    margin-right: 25px;
}
.fcpCopyRight p{
    color: #94deff;
    font-size: 15px;
}
.fcpCopyRight span{
    color: #94deff;
    font-size: 12px;
}

/*-------------- Create Section -----------*/

.createSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 67.8%;
}
.imagePreview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.displayImage{
    width: 160px;
    height: 160px;
    box-shadow: #424242 0 0 10px 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-position: 100% 100%;
}
.imagePreview svg{
    width: 15px;
    height: 15px;
    fill: white;
    background-color: #ff8c00;
    padding: 10px;
    border: 3px white solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    bottom: 40px;
    left: 40px;
}
.uploadImage{
    cursor: pointer;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size:6.5px;
    height: 170px;
    width: 160px;
    opacity: 0;
    -moz-opacity: 0;
    filter:
    progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -webkit-filter:
    progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.inputName{
    font-size: 17px;
    border: unset;
    box-shadow: rgba(116, 116, 116, 0.568) 0 0 10px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'Vazirmatn';
    width: 25rem;
    height: 2.5rem;
    padding: 2px 10px;
    color: rgb(44, 44, 44);
}
.inputName:focus{
    outline: unset;
    box-shadow: rgba(82, 82, 82, 0.651) 0 0 10px 0px;
}
.btns{
    display: flex;
    width: 300px;
    margin-top: 30px;
    justify-content: flex-end;
    align-items: center;
}
.btns button{
    border: unset;
    background-color: #107abe;
    color: white;
    padding: 7px 15px;
    font-family: 'Vazirmatn';
    font-size: 14px;
    border-radius: 99rem;
    -webkit-border-radius: 99rem;
    -moz-border-radius: 99rem;
    -ms-border-radius: 99rem;
    -o-border-radius: 99rem;
    cursor: pointer;
}
.btns span{
    color: #a0a0a0;
    margin-left: 15px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.btns span:hover{
    color: #505050; 
}
.deleteImage{
    width: 100px;
    position: absolute;
    right: 11rem;
}
.deleteImage button{
    width: 3rem;
    height: 3rem;
    background-color: rgb(76, 77, 82);
    font-size: 25px;
    color: white;
    border: unset;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    cursor: pointer;
}
.deleteImage button:hover{
    background-color: rgb(211, 40, 40);
}