.register{
    width: 100%;
    height: 100vh;
    display: flex;
}
.colorPart{
    width: 60%;
    height: 100vh;
    background: linear-gradient(to bottom right,#054592 0,#1897d4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerColorPart{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-bottom: 20px;
}
.headPara {
    font-size: 30px;
    color: white;
}
.secondPara {
    font-weight: bold;
    margin-top: -25px;
    font-size: 15px;
    color: black;
}
.footerColorPart{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fcpBtn {
    margin-left: 25px;
}
.fcpCopyRight{
    margin-right: 25px;
}
.fcpBtn span{
    font-size: 20px;
    color: #94deff;
    cursor: pointer;
    margin-right: 15px;
}
.fcpBtn a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 15px;
    color: #94deff;
}
.fcpCopyRight p{
    color: #94deff;
    font-size: 15px;
}
.fcpCopyRight span{
    color: #94deff;
    font-size: 12px;
}
/*-------------Input Part------------*/
.formPart{
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.formSection{
    display: flex;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-right: 100px;
    margin-top: 80px;
}
.titleInput{
    color: #107abe;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}
.subtitleInput{
    color: #5b5b5b;
    font-size: 15px;
    margin-bottom: 20px;
}
.formSection input{
    width: 444px;
    height: 48px;
    outline: unset;
    padding: 0 7px;
    border: #107abe 1px solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 15px;
    font-family: 'Vazirmatn' , sans-serif;
    color: #414141;
    margin-bottom: 10px;
}
.formSection input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formSection input::placeholder{
    font-size: 15px;
    font-family: 'Vazirmatn' , sans-serif;
    color: #5b5b5b;
}
.formSection input:focus{
    font-size: 15px;
    font-family: 'Vazirmatn' , sans-serif;
    color: #414141;
    outline: #107abe 0.5px solid;
}
.formSection button{
    background-color: #107abe;
    font-family: 'Vazirmatn' , sans-serif;
    font-size: 13px;
    border: unset;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 150px;
    padding: 7px 7px;
    color: white;
    display: inline-block;
    cursor: pointer;
    margin-right: 313px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.formSection button svg{
    fill: white;
    margin-bottom: -5px;
    margin-right: 3px;
}
.formSection button:hover{
    background-color: #0c5c8f;
    padding-left: 0;
}
.secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}
.googleLogin{
    color: #636161;
    margin-bottom: 5px;
    text-decoration: none;
}
.googleLogin span{
    color: red !important;
}
.secondSection p{
    color: #414141;
    margin-bottom: 100px;
}
.secondSection p a{
    color: #414141;
}
.secondSection span{
    color: #636161;
}
.secondSection span span {
    text-decoration: unset;
    color: #054592;
    border-bottom: #054592 1px solid;
}
.link {
    text-decoration: unset;
}